@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #fefefe;
  --primary: #0B2545;
  --foreground: #8DA9C4;
  --shadow: #134074;
  --text: #000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-shadow: var(--shadow);
  --color-primary: var(--primary);
  --font-sans: var(--font-inter);
  --font-serif: var(--font-playfair-display);
}


body {
  background: var(--background);
  color: var(--text);


  .subheading-anchor {
    @apply no-underline hover:no-underline;
    @apply font-serif;
  }
}

